.answeroff{
    display: none;
}

button{
    color: rgb(243, 243, 243);
    background-color: rgb(180, 180, 180);
    border-radius: 3px;
}
button:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(170, 170, 170);
    border-radius: 5px;
}